[user]
	name = Anshul Mengi
	email = anshulmengi@gmail.com
[color]
    	diff = auto
    	status = auto
    	branch = auto
    	interactive = true
        ui = auto
[help]
	autocorrect = 20
[core]
	excludesfile = /Users/Admin/.gitignore_global
[alias]
        grep = grep --color=auto

[core]
    pager = less -+$LESS -FRX
