/*
!.**
.CFUserTextEncoding
.DS_Store
.RSA/
.anyconnect
.bash_history
.cups/
.dbshell
.dropbox/
.emacs.d.bak/
.emacs.d.big.bak/
.emacs2.d.bak/
.fontconfig/
.fonts/
.gdb_history
.gem/
.gitk
.grails/
.htoprc
.ido.last
.irb-history
.irb_history
.irbrc
.lesshst
.pow
.recentf
.rediscli_history
.rvm/
.ssh/
.subversion/
.subversion_IDEA/
.yasnippets
.Xauthority
.serverauth.30505
.viminfo
.emacs.d/.smex-items
.emacs.d/auto-save-list/
.Trash/
.emacs.d/#init.el#
.pry_history
.emacs.d/places
.project
.zcompdump
.zsh-update
.zsh_history
.zsh_history
.zshrc.pre-oh-my-zsh
.emacs.d/places/*
.zshrc~
.zlogin
.emacs.mar_15_2012.bak/
.emacs.d/backups/
.bashrc
.bash_login
.vim/.netrwhist
.emacs.d/ac-comphist.dat
.vim/.netrwhist~
.sh_history
.npm/
.yjp/*
.adobe
.android
.bundler
.cache
.cache/
.filezilla/
.hgignore_global
.local/
.m2/
.putty/
.serverauth.31269
.sincedb_0e13bcd4296489f0008883c000841678
.sincedb_2e90ca4f6ba631c62bdfbff24d5ce335
.sincedb_4b62d38bf4520360c4ce627daff15834
.sincedb_4f588298089493daf8dd7911ea2cb4a3
.sincedb_7b85d82dba072fd37e3f5eaf779a0a4c
.sincedb_ff1cffe86695df130d5f5db4007856ae
.sincedb_ffb752bcf939b98e689e767c5683714a
.sqlite_history
.vim/.netrwhisz~
.vnc/tags
.vim/**/*
