/*
!.**
.CFUserTextEncoding
.DS_Store
.RSA/
.anyconnect
.bash_history
.cups/
.dbshell
.dropbox/
.emacs.d.bak/
.emacs.d.big.bak/
.emacs2.d.bak/
.fontconfig/
.fonts/
.gdb_history
.gem/
.gitk
.grails/
.htoprc
.ido.last
.irb-history
.irb_history
.irbrc
.lesshst
.pow
.recentf
.rediscli_history
.rvm/
.ssh/
.subversion/
.subversion_IDEA/
.yasnippets